.shareButton {
    font-family: $roboto;
    font-size: $medium;
    text-align: center;
    border-radius: 3rem;
    margin-top: 2rem; 
  }
 
.commentButton {
    font-family: $roboto;
    font-size: $medium;
    text-align: center;
    border-radius: 3rem;
    margin-top: 2rem; 
  }